<?xml version="1.0" encoding="UTF-8"?>

<web-app>
    <display-name>Archetype Created Web Application</display-name>
    <!--declare servlet URL mappings-->
    <servlet>
        <servlet-name>LoginManager</servlet-name>
        <servlet-class>edu.csudh.goTorosBank.LoginManager</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginManager</servlet-name>
        <url-pattern>/LoginManager</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LogoutManager</servlet-name>
        <servlet-class>edu.csudh.goTorosBank.LogoutManager</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutManager</servlet-name>
        <url-pattern>/LogoutManager</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DepositManager</servlet-name>
        <servlet-class>edu.csudh.goTorosBank.DepositManager</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DepositManager</servlet-name>
        <url-pattern>/util/DepositManager</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AccountOverview</servlet-name>
        <servlet-class>edu.csudh.goTorosBank.AccountOverview</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AccountOverview</servlet-name>
        <url-pattern>/util/AccountOverview</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TransferServlet</servlet-name>
        <servlet-class>edu.csudh.goTorosBank.TransferServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TransferServlet</servlet-name>
        <url-pattern>/util/TransferServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>edu.csudh.goTorosBank.UploadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/util/UploadServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DownloadServlet</servlet-name>
        <servlet-class>edu.csudh.goTorosBank.DownloadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DownloadServlet</servlet-name>
        <url-pattern>/util/DownloadServlet</url-pattern>
    </servlet-mapping>
    
    <!--remove this mapping later, once unit tests are ready to go-->
    <servlet>
        <servlet-name>developmentHelper</servlet-name>
        <servlet-class>edu.csudh.goTorosBank.developmentHelper</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>developmentHelper</servlet-name>
        <url-pattern>/dh</url-pattern>
    </servlet-mapping>
</web-app>

