<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <display-name>Archetype Created Web Application</display-name>
    <!--declare servlet URL mappings-->
    <servlet>
        <servlet-name>LoginManager</servlet-name>
        <servlet-class>edu.csudh.goTorosBank.LoginManager</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginManager</servlet-name>
        <url-pattern>/LoginManager</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LogoutManager</servlet-name>
        <servlet-class>edu.csudh.goTorosBank.LogoutManager</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutManager</servlet-name>
        <url-pattern>/LogoutManager</url-pattern>
    </servlet-mapping>
</web-app>

