<?xml version="1.0" encoding="UTF-8"?>

<web-app>
    <display-name>Archetype Created Web Application</display-name>
    <!--declare servlet URL mappings-->
    <servlet>
        <servlet-name>LoginManager</servlet-name>
        <servlet-class>edu.csudh.goTorosBank.LoginManager</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginManager</servlet-name>
        <url-pattern>/LoginManager</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LogoutManager</servlet-name>
        <servlet-class>edu.csudh.goTorosBank.LogoutManager</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutManager</servlet-name>
        <url-pattern>/LogoutManager</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AccountOverview</servlet-name>
        <servlet-class>edu.csudh.goTorosBank.AccountOverview</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AccountOverview</servlet-name>
        <url-pattern>/util/AccountOverview</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TransferServlet</servlet-name>
        <servlet-class>edu.csudh.goTorosBank.TransferServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TransferServlet</servlet-name>
        <url-pattern>/util/TransferServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DepositServlet</servlet-name>
        <servlet-class>edu.csudh.goTorosBank.DepositServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DepositServlet</servlet-name>
        <url-pattern>/util/DepositServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>WithdrawServlet</servlet-name>
        <servlet-class>edu.csudh.goTorosBank.WithdrawServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WithdrawServlet</servlet-name>
        <url-pattern>/util/WithdrawServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PayBillServlet</servlet-name>
        <servlet-class>edu.csudh.goTorosBank.PayBillServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PayBillServlet</servlet-name>
        <url-pattern>/util/PayBillServlet</url-pattern>
    </servlet-mapping>
</web-app>

